# Build results
bin/
obj/
publish/

# Visual Studio / Rider
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
*.iml

# Logs
*.log

# NuGet
*.nupkg

# Others
*.cache
*.tmp
*.DS_Store
Thumbs.db

# Test results
TestResults/

# ASP.NET Core
ScaffoldingReadMe.txt
wwwroot/uploads/

# Secrets & local config
**/appsettings.Development.json
*.pfx
secrets.json

# Claude Code
.claude/
